<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vanilla Ruby Sinatra Application</title>
  </head>

  <body>
    <h1>Vanilla Ruby Sinatra Application</h1>
    <p>Example Message: <%= message %>.</p>
  </body>
<html>

